.servicios {
    margin-top: 70px;
    h1 {
        padding: 10px;
    }
    .servicios h4 {
        padding: 10px;
    }
    .servicios p {
        padding: 10px;
    }
}
.cuerpo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}
.tarjetero-servicios {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.tarjetero-servicios .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.tarjetero-servicios .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h3 {
        text-align: center;
        position: absolute;
        bottom: 50;
        width: 100%;
        height: 45px;
        line-height: 45px;
        color: gray;
        text-align: center;
    }
}
.tarjetero-servicios .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
    h3 {
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    p {
        letter-spacing: 1px;
    }
    .link {
        border-top: solid 1px #f3f3f3;
        height: 50px;
        line-height: 50px;
        a {
            color: #f3f3f3;
        }
    }
}
.tarjetero-servicios:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.tarjetero-servicios:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
.fin-servicios {
    padding: 10px;
}