.intro-tarjetas {
    padding: 30px;
    h2 strong {
        color: rgb(180, 190, 50);
    }
}
.contenedor-tarjetas {
    width: 100%;
    max-width: 1600px;
    height: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
.tarjetas-presentacion {
    width: 320px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rbga(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s;
    padding-bottom: 30px;
    margin-bottom: 10px;
    &:hover {
        transform: translate(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    img {
        width: 330px;
        height: 220px;
    }
    h4 {
        font-weight: 600;
    }
    p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
    }
    a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }
}
@media screen and (max-width:1100px) {
    .contenedor-tarjetas {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        text-align: center;
        width: 400px;
        height: 1700px;
    }
}
